[Unit]
Description=Solar Station Communication Script
After=network.target

[Service]
ExecStart=/home/user/Solar_Station_Communication/.venv/bin/python /home/user/Solar_Station_Communication/appv2.py
WorkingDirectory=/home/user/Solar_Station_Communication
StandardOutput=inherit
StandardError=inherit
Restart=always
User=user

[Install]
WantedBy=multi-user.target
