[Unit]
Description=Solar Station Communication Script
After=network.target

[Service]
ExecStart=/home/Theo/Solar_Station_Communication/.venv/bin/python /home/Theo/Solar_Station_Communication/app.py
WorkingDirectory=/home/Theo/Solar_Station_Communication
StandardOutput=inherit
StandardError=inherit
Restart=always
User=Theo

[Install]
WantedBy=multi-user.target
